{
  "tabWidth": 4,
  "useTabs": false,
  "printWidth": 100,
  "singleQuote": true,
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf"
}
